@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@300;500&family=Pacifico&display=swap');
$color-primary: #aa49e6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://images.pexels.com/photos/7233194/pexels-photo-7233194.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
}


.card {
    width: 60%;
    max-width: 700px;
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid rgb(255 255 255 / .3);
        padding: 55px 0;
        border-radius: 10pt;
        background-color: rgb(255 255 255 / .2);
        backdrop-filter: blur(15px);
        color: #fff;

        h1 {
            margin: 35px 0;
        }

        p {
            margin: 0 0 25px;
        }
    img {
        width: 142px;
        height: 142px;
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
        
    }

 a {
    .fa-brands {
        margin: 0 10px;
        border-radius: 50%;
        font-size: 30px;
        transition: .5s;
        color: #fff;
        padding: 10px;

        &:hover {
            background-color: $color-primary;
        }
    }
 }

    .btn {
        margin: 50px auto;
        text-decoration: none;
        color: $color-primary;
        background-color: #fff;
        border-radius: 40px;
        padding: 10px 30px;
    }
}